.board-container{
    width: 640px;
    height: 640px;
}

.Square{
    width: 80px;
    height: 80px;
    border: 1px solid rgb(74, 68, 68);
}

.WhiteSquare{
    background-color: rgb(232, 235, 239);
}

.BlackSquare{
    background-color: rgb(125 ,135, 150);
}

.board-row{
    display: flex;
}

.piece-cell{
margin: 0;
padding: 0;
}

.piece-img{
    width: 75px;
    height: 75px;
    /* opacity: 0.5; */
    background: transparent;
}

.from-piece-highlight {
    background-color: rgb(209, 209, 100);
}